<div class="container-fluid">
  <div class="row pic-container">
    <div class="row pic-div">
      <div class="col-sm-12 pic-first-div">
        <div class="col-sm-8 col-sm-offset-1">
          <h1>We <i class="fa fa-heart-o"></i> Animals</h1>
          <p class="msg">So we put them where we can see them</p>
        </div>
        <div class="col-sm-2">
          <img
            src="../assets/images/cat-tv-screen-pic.jpeg"
            class="small-pic"
          />
        </div>
      </div>
      <div class="col-sm-10 col-sm-offset-1 second-div">
        <div class="col-sm-9">
          <p class="first-second-div">
            If you're an animal lover, this FREE extension is a great way to get
            your daily dose of cuteness overloaded.
          </p>
        </div>
        <div class="col-sm-3">
          <button
            class="form-control"
            class="btn btn-warning btn-lg continue-btn"
            data-toggle="modal"
            data-target="#downloadModal"
          >
            Continue<span
              class="fa fa-angle-right continue-forward-icon"
            ></span>
          </button>
        </div>
      </div>

      <div class="col-sm-10 col-sm-offset-1 continue-msg">
        <p>
          Please read carefully: By clicking the "Continue" button above, you
          are agreeing to install this extension and agreeing to abide by End
          User License Agreement and Privacy Policy. | You can uninstall the
          extesion at any time.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 heading"><h1>Just a Pet Lover</h1></div>

    <div class="col-sm-12 pet-lover-content">
      <div class="col-sm-4">
        <img
          src="./../assets//images/cat-wallpaper.jpg"
          class="img-circle pet-lover-img"
          alt="Cat Image"
        />
      </div>
      <div class="col-sm-6 pet-lover-description">
        <p>
          Just a Pet Lover Page is made for humans who truly love animals and
          the environment. The extension highlights interesting animal videos
          and news and bring you awesome browser wallpapers that will brighten
          up your day.
        </p>
        <p>
          These features update in real-time.So you really feel like you're part
          of the animal kingdom.
        </p>
      </div>
    </div>

    <div class="col-sm-12 check-out-div">
      <p>
        Check out our privacy policy and Terms of Service Pages for more
        details!
      </p>
    </div>
  </div>
  <div class="row featues-div">
    <div class="col-sm-12 heading"><h1>Features</h1></div>
    <div class="col-sm-12 features-content">
      <div class="col-sm-3">
        <div class="card card-layout">
          <p class="card-icon">
            <span class="fa fa-comments-o fa-lg icon"></span>
          </p>
          <div class="card-body">
            <h4 class="card-title">Adorable Wallpapers</h4>
            <p class="card-text">
              Find an adorable animal on each new tab, designed to keep your
              spirts high.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-layout">
          <p class="card-icon"><span class="fa fa-play fa-lg icon"></span></p>
          <div class="card-body">
            <h4 class="card-title">Viral Videos</h4>
            <p class="card-text">
              Seriously concerning or hilariously wild,you'll know what's going
              viral.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-layout">
          <p class="card-icon"><span class="fa fa-search fa-lg icon"></span></p>
          <div class="card-body">
            <h4 class="card-title">Powerful Search</h4>
            <p class="card-text">Enjoy a smooth search engine experience.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-layout">
          <p class="card-icon">
            <span class="fa fa-twitter fa-lg icon"></span>
          </p>
          <div class="card-body">
            <h4 class="card-title">Trending Tweets</h4>
            <p class="card-text">
              Recieve Twitter updates with important news on you furry friends.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row contact-us-div">
    <div class="col-sm-12 contactus-heading"><h1>Contact Us</h1></div>
    <div class="col-sm-12 conttactus-content">
      <h3>We'd love to hear from you!</h3>
      <p>at: contact@lmpts.com</p>
    </div>
    <div class="col-sm-12 contactus-tabs">
      <footer class="page-footer">
        <div class="row">
          <ul class="nav nav-tabs list-inline">
            <li class="nav-item font-weight-bold">
              <a class="nav-link active tabs-link" href="#">About Us</a>
            </li>
            <li class="nav-item font-weight-bold">
              <a class="nav-link tabs-link" href="#">Terms of Service</a>
            </li>
            <li class="nav-item font-weight-bold">
              <a class="nav-link tabs-link" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item font-weight-bold">
              <a class="nav-link tabs-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item font-weight-bold">
              <a
                class="nav-link tabs-link"
                href="#showForm"
                (click)="showFormMethod()"
                >Uninstall</a
              >
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </div>

  <div class="row feedback-div" id="showForm">
    <div class="col-sm-12 feedback-heading">
      <h3>We're Sorry to see you go!</h3>
    </div>
    <div class="col-sm-12 feedback-subheading">
      <p>Please help us to Improve Trailer Tab with your feedback</p>
    </div>
    <div class="col-sm-4 col-sm-offset-4 feedback-form">
      <form>
        <div class="form-group">
          <input
            placeholder="Email ID"
            type="email"
            class="form-control feedback-input"
            id="email"
          />
        </div>
        <div class="form-group">
          <input
            placeholder="Message"
            type="text"
            class="form-control feedback-input"
            id="message"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="form-control send-btn">Send</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Modal -->
  <div id="downloadModal" class="modal fade downloadModal" role="dialog">
    <div
      class="modal-dialog modal-sm"
      [ngClass]="{
        'chrome-class': chrome,
        'safari-class': safari,
        'firefox-class': firefox,
        'edge-class': edge,
        'other-class': other
      }"
    >
      <div class="modal-content">
        <div class="modal-body">
          <p>{{ downloadModalMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
